body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* reset default settings */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* container */
.container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-web {
    display: inline-block;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-studio {
    color: #2E2F42;
}

.top-line {
    padding-top: 16px;
    padding-bottom: 16px;
}

.first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-header-title {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* =============== MOBILE=================== */

@media screen and (max-width: 767px) {

    .menu-nav {
        display: none;
    }

    .menu-nav-address {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        line-height: 0;
        padding: 0;
    }

    .mobile-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-wrapper.is-open {
        transform: translateX(0%);
    }

    .mobile-menu-container {
        position: relative;
    }

    .mobile-menu-navigation {
        padding-top: 72px;
    }

    .mobile-menu-link {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-link:focus,
    .mobile-menu-link:hover {
        color: #404BBF;
    }

    .mobile-menu-address {
        gap: 24px;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu-address-link {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-address-link:hover,
    .mobile-menu-address-link:focus {
        color: #4D5AE5;
    }

    .mobile-menu-address-section {
        margin-top: 168px;
        margin-bottom: 48px;
    }
}

/* =============== TABLET ================== */
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .mobile-menu-open-btn {
        display: none;
    }

    .mobile-menu-wrapper {
        display: none;
    }

    .menu-header {
        display: flex;
        align-items: center;
        width: 496px;
        justify-content: space-between;
    }

    .menu-nav {
        display: flex;
        column-gap: 40px;
    }

    .menu-nav-address {
        display: flex;
    }




}


/* =============== DESKTOP ================= */
@media screen and (min-width: 1158px) {

    .section {
        padding: 120px 0;
    }

    .logo-web {
        margin-right: 78px;
    }
}


@media screen and (max-width: 1157px) {
    .section {
        padding: 96px 0;
    }
}


/* ================== MOBILE ==============*/
@media screen and (max-width: 767px) {
    .top-line {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }



    .menu-nav-item {
        display: block;
        position: relative;
        color: #404BBF;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-nav-item::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .menu-nav-item:hover::after {
        content: '';
        width: 48px;
        color: #404bbf;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }


    .menu-nav-item:active {
        color: #404BBF;
    }

    .menu-nav-item:focus {
        color: #404BBF;
    }

    .menu-nav-address {
        font-style: normal;
    }

    .menu-nav-adress-items {
        display: flex;
        gap: 40px;
    }

    .menu-nav-address-link {
        color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-nav-address-link:hover {
        color: #404BBF;
    }

    .menu-nav-address-link:focus {
        color: #404BBF;
    }

    /* Section 0 */
    .first-section {
        position: relative;
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/mobile/hero-bg-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 320px;
        margin: 0 auto;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .first-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)), url(../images/mobile/hero-bg-mobile@2x.jpg);
        }
    }

    .first-section-content-header {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        justify-content: center;
        padding: 72px 0;
    }

    .first-section-head {
        width: 158px;
        color: #FFFFFF;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }



    .first-section-button {
        min-width: 169px;
        height: 56px;
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        color: #FFFFFF;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .first-section-button:hover {
        background-color: #404BBF;
    }

    .first-section-button:focus {
        background-color: #404BBF;
    }

    /* section 2 Our Goals */
    .icon-our-goal {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background-color: #F4F4FD;
        margin-bottom: 8px;
    }

    .our-goals {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    .our-goals-item {
        color: #2E2F42;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: center;
    }

    .our-goals-text {
        color: #434455;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;

    }

    /* section 3 Our Team */
    .third-section {
        background-color: #f4f4fd;
    }

    .our-team-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }

    .our-team-members {
        background-color: #FFFFFF;
        width: 264px;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .members-card {
        padding: 32px 0;
    }

    .members-name {
        color: #2E2F42;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }

    .members-position {
        color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }

    .social-list {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    .mobile-social-list {
        justify-content: flex-start;
    }

    .social-list-links {

        width: 40px;
        height: 40px;
    }

    .social-links-item {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-links-item:hover,
    .social-links-item:focus {
        background-color: #404bbf;
    }

    .social-links-icon {
        fill: #F4F4FD;
    }

    /* section 4 */

    .our-app-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }



    .our-app-item {
        width: 288px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .app-image {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        overflow: auto;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #F4F4FD;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;


    }

    .our-app-item:hover .overlay {
        transform: translateY(0);
    }

    .our-app-item:hover {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08)
    }

    .app-card {
        padding: 32px 16px;
        border: 1px solid #E7E9FC;
        border-top: none;
    }



    .our-app {
        color: #2E2F42;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .app-description {
        color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* footer */

    .footer-logo {
        background-color: #2E2F42;
    }

    .logo-studio-footer {
        color: #f4f4fd;
    }

    .footer-text {
        line-height: 1.5;
        color: #f4f4fd;
        letter-spacing: 0.02em;
    }

    .footer-logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 72px;

    }

    .footer-text {
        padding-top: 16px;

    }

    .social-media {
        text-align: center;
        color: #FFF;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;

    }

    .footer-social-links {
        margin-bottom: 72px;
    }

    .footer-social-links .social-list {
        gap: 16px;
    }

    .footer-social-links .social-links-item:hover,
    .footer-social-links .social-links-item:focus {
        background-color: #31d0aa;
    }

    /* subscribe form */
    .subscribe-form-section {
        display: inline-flex;
        flex-direction: column;
    }

    .subscribe-form-heading {
        text-align: center;
        color: #ffffff;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .subcribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .subscribe-form-input {
        width: 288px;
        height: 40px;
        border: 1px solid #FFF;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff;
        font-weight: 400;
    }

    .subscribe-form-input::placeholder {
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.04em;
    }

    .subscribe-form-btn {
        display: flex;
        width: 165px;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
    }

    .subscribe-form-btn-icon {
        margin-left: 16px;
    }

    /* backdrop styles and modal window */

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        z-index: 999999;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .form-heading {
        text-align: center;
        color: #2E2F42;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .modal {
        position: absolute;
        width: 288px;
        min-height: 623px;
        padding: 72px 16px 24px 16px;
        background-color: #fcfcfc;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-close-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: #E7E9FC;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.10);
        padding: 0;
        fill: #2E2F42;
        line-height: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

    .modal-close-button:hover,
    .modal-close-button:focus {
        background-color: #404BBF;
        border: none;
        fill: #ffffff;
    }

    .modal-close-button-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-form-field-wrapper {
        margin-bottom: 8px;
    }

    .contact-form-textarea-wrapper {
        margin-bottom: 16px;
    }

    .contact-form-field-label {
        display: block;
        color: #8E8F99;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-bottom: 4px;
    }

    .contact-form-input-wrapper {
        position: relative;
    }

    .contact-form-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.40);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: transparent;
    }

    .contact-form-input:focus {
        outline: 0px solid transparent;
        border-color: #4D5AE5;
    }

    .contact-form-input-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        fill: #2E2F42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-form-input:focus+.contact-form-input-icon {
        fill: #4D5AE5;
    }

    /* text area */
    .contact-form-comment {
        width: 100%;
        height: 120px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.40);
        border: 1px solid rgba(46, 47, 66, 0.40);
        background-color: transparent;
        outline: transparent;
        padding: 8px 16px;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-form-checkbox-wrapper {
        margin-bottom: 24px;
    }

    .contact-form-checkbox-label {
        color: #8E8F99;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .contact-form-comment:focus {
        outline: 0px solid transparent;
        border-color: #4D5AE5;
    }

    .contact-form-comment::placeholder {
        color: rgba(46, 47, 66, 0.40);
    }


    .contact-form-checkbox:checked+.contact-form-checkbox-label>.contact-form-checkbox-icon {
        background-color: var(--OCEAN, #404BBF);
        border: none;
        fill: var(--OCEAN, #F4F4FD);
    }


    .contact-form-checkbox-icon {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.40);
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-form-checkbox:focus+.contact-form-checkbox-label>.contact-form-checkbox-icon {
        outline: 2px solid #4D5AE5;
    }

    .contact-form-checkbox-checkmarker {
        fill: #fff;
        opacity: 0;
    }

    .contact-form-checkbox:checked+.contact-form-checkbox-label .contact-form-checkbox-checkmarker {
        opacity: 1;
        background-color: #404BBF;
        border: none;
        fill: #f4f4fd
    }

    .contact-form-link {
        color: #4D5AE5
    }

    .contact-form-submit-btn {
        display: block;
        min-width: 169px;
        height: 56px;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        border: none;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* ================== TABLET ==============*/
@media screen and (min-width: 768px) {
    .top-line {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }



    .menu-nav-item {
        position: relative;
        color: #404BBF;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-nav-item::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .menu-nav-item:hover::after {
        content: '';
        width: 48px;
        color: #404bbf;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }


    .menu-nav-item:active {
        color: #404BBF;
    }

    .menu-nav-item:focus {
        color: #404BBF;
    }

    /* .menu-nav-address {
        font-style: normal;
    } */

    .menu-nav-adress-items {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .menu-nav-address-link {
        display: flex;
        font-size: 12px;
        color: #434455;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-style: normal;
    }

    .menu-nav-address-link:hover {
        color: #404BBF;
    }

    .menu-nav-address-link:focus {
        color: #404BBF;
    }

    /* Section 0 */
    .first-section {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/tablet/hero-bg-tablet.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 768px;
        margin: 0 auto;
        position: relative;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .first-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)), url(../images/tablet/hero-bg-tablet@2x.jpg);
        }
    }

    .first-section-content-header {
        display: flex;
        flex-direction: column;
        row-gap: 36px;
        justify-content: center;
        padding: 112px 0;
        align-items: center;
    }

    .first-section-head {
        color: #FFFFFF;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
        text-transform: capitalize;

    }



    .first-section-button {
        min-width: 169px;
        height: 56px;
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        color: #FFFFFF;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .first-section-button:hover {
        background-color: #404BBF;
    }

    .first-section-button:focus {
        background-color: #404BBF;
    }

    /* section 2 Our Goals */
    .icon-our-goal {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background-color: #F4F4FD;
        margin-bottom: 8px;
    }

    .our-goals {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .our-goals-subsection {
        width: calc((100% - 24px)/2);


    }

    .our-goals-item {
        color: #2E2F42;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .our-goals-text {
        color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;

    }

    /* section 3 Our Team */
    .third-section {
        background-color: #f4f4fd;
    }

    .our-team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }

    .our-team-members {
        background-color: #FFFFFF;
        max-width: 264px;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .members-card {
        padding: 32px 0;

    }

    .members-name {
        text-align: center;
        margin-bottom: 8px;
    }

    .members-position {
        text-align: center;
        margin-bottom: 8px;
    }

    .social-list {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    .social-list-links {

        width: 40px;
        height: 40px;
    }

    .social-links-item {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-links-item:hover,
    .social-links-item:focus {
        background-color: #404bbf;
    }

    .social-links-icon {
        fill: #F4F4FD;
    }

    /* section 4 */

    .our-app-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .our-app-item {
        width: calc((100% - 24px)/2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .app-image {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        overflow: auto;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #F4F4FD;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;


    }

    .our-app-item:hover .overlay {
        transform: translateY(0);
    }

    .our-app-item:hover {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08)
    }

    .app-card {
        padding: 32px 16px;
        border: 1px solid #E7E9FC;
        border-top: none;
    }



    .our-app {
        color: #2E2F42;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .app-description {
        color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* footer */
    .footer-container {
        width: 527px;
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;

    }

    .footer-logo {
        background-color: #2E2F42;
    }

    .logo-studio-footer {
        color: #f4f4fd;
    }

    .footer-text {
        line-height: 1.5;
        color: #f4f4fd;
        letter-spacing: 0.02em;
    }

    .footer-logo-container {
        flex-basis: 264px;
    }

    .footer-text {
        padding-top: 17.5px;

    }

    .social-media {
        color: #FFF;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;

    }

    .footer-social-links .social-list {
        gap: 16px;
    }

    .footer-social-links .social-links-item:hover,
    .footer-social-links .social-links-item:focus {
        background-color: #31d0aa;
    }

    /* subscribe form */


    .subscribe-form-heading {
        color: #ffffff;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .subcribe-form {
        display: flex;
        gap: 24px;
    }

    .subscribe-form-input {
        width: 264px;
        height: 40px;
        border: 1px solid #FFF;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff;
    }

    .subscribe-form-input::placeholder {
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.04em;
    }

    .subscribe-form-btn {
        display: flex;
        min-width: 165px;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
    }

    .subscribe-form-btn-icon {
        margin-left: 16px;
    }

    /* backdrop styles and modal window */

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        z-index: 999999;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .form-heading {
        text-align: center;
        color: #2E2F42;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .modal {
        position: absolute;
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
        background-color: #fcfcfc;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-close-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: #E7E9FC;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.10);
        padding: 0;
        fill: #2E2F42;
        line-height: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

    .modal-close-button:hover,
    .modal-close-button:focus {
        background-color: #404BBF;
        border: none;
        fill: #ffffff;
    }

    .modal-close-button-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-form-field-wrapper {
        margin-bottom: 8px;
    }

    .contact-form-textarea-wrapper {
        margin-bottom: 16px;
    }

    .contact-form-field-label {
        display: block;
        color: #8E8F99;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-bottom: 4px;
    }

    .contact-form-input-wrapper {
        position: relative;
    }

    .contact-form-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.40);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: transparent;
    }

    .contact-form-input:focus {
        outline: 0px solid transparent;
        border-color: #4D5AE5;
    }

    .contact-form-input-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        fill: #2E2F42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-form-input:focus+.contact-form-input-icon {
        fill: #4D5AE5;
    }

    /* text area */
    .contact-form-comment {
        width: 100%;
        height: 120px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.40);
        border: 1px solid rgba(46, 47, 66, 0.40);
        background-color: transparent;
        outline: transparent;
        padding: 8px 16px;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-form-checkbox-wrapper {
        margin-bottom: 24px;
    }

    .contact-form-checkbox-label {
        color: #8E8F99;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .contact-form-comment:focus {
        outline: 0px solid transparent;
        border-color: #4D5AE5;
    }

    .contact-form-comment::placeholder {
        color: rgba(46, 47, 66, 0.40);
    }


    .contact-form-checkbox:checked+.contact-form-checkbox-label>.contact-form-checkbox-icon {
        background-color: var(--OCEAN, #404BBF);
        border: none;
        fill: var(--OCEAN, #F4F4FD);
    }


    .contact-form-checkbox-icon {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.40);
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-form-checkbox:focus+.contact-form-checkbox-label>.contact-form-checkbox-icon {
        outline: 2px solid #4D5AE5;
    }

    .contact-form-checkbox-checkmarker {
        fill: #fff;
        opacity: 0;
    }

    .contact-form-checkbox:checked+.contact-form-checkbox-label .contact-form-checkbox-checkmarker {
        opacity: 1;
        background-color: #404BBF;
        border: none;
        fill: #f4f4fd
    }

    .contact-form-link {
        color: #4D5AE5
    }

    .contact-form-submit-btn {
        display: block;
        min-width: 169px;
        height: 56px;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        border: none;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


@media screen and (max-width: 1157px) {
    .icon-our-goal {
        display: none;
    }
}



/* ================== DESKTOP ==============*/
@media screen and (min-width: 1158px) {

    .menu-header {
        width: auto;

    }

    .container {
        width: 1158px;
    }

    .menu-nav-address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .menu-nav-adress-items {
        flex-direction: row;
        column-gap: 40px;
        justify-content: space-around;
    }

    .top-line {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .first-line {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }


    /* first section */

    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/desktop/hero-bg-desktop.jpg);

        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .first-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)), url(../images/desktop/hero-bg-desktop@2x.jpg);
        }
    }

    .first-section-content-header {
        row-gap: 48px;
        padding: 188px 0;
    }

    /* section 2 Our Goals */

    .our-goals-subsection {
        width: calc((100% - 72px)/4);
    }

    .our-goals-item {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    /* section 4 Our portfolio */
    .our-app-item {
        width: calc((100% - 48px)/3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .our-app-list {
        column-gap: 24px;
        row-gap: 48px;
    }

    .footer-container {
        justify-content: space-between;
    }

    .footer-logo {
        padding: 100px 0;
    }
}